


 .card{
         min-width: 100px;
         min-height: 100px;
         margin:4% 10% 4% 10%;
         width:80%;
         height: 35%;
         max-width: 100%;
}

.base-card-text{
    font-size: 1rem;
}
.base-card-titel{
font-size: 3rem;
margin-bottom: 0px;
}
.numberSetCard{
    height: 300px;
    padding: 0px;
}


.card img{
    object-fit: contain;
    height: 50%;
}
/* .cart-text{
    font-size: small;
} */