
#ansewr{
    width: 60%;
    min-width: 25rem;
}
#mainBox{
    width:100% ;
}
#name{
    width: 23%;
    min-width: 80px;
}
#mainBox button{
margin-top: 0.5rem;
}
#mainBox input{
    margin-top: 0.5rem;
    min-width: 6rem;
}
.afterKaigyou::after{
    content: "\A";
    white-space: pre ;
}

#title{
    height: 3rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    width: 6rem;

}

#answerBoxButton{
    margin-top: 0.5rem;
}

.mainButton{
    font-size: 0.8rem;
}

#maininputmsg2{
    font-size: 0.8rem;
}


#maininputmsg{
    font-size: 0.8rem;
}

.nav-link{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}